<header id="header">
    <div class="loading"></div>
    <div class="center">

        <div id="logo">
            <a href="<%=path %>index.html"><img src="<%=path %>images/logo.png" alt="武汉鑫嘉源工程有限公司" /></a>
        </div>
        <!-- logo结束 -->
        <nav id="menu">
        <ul>
            <% menus.forEach(function(menu){ %>
              <li <% if (menu.active) { %>class="change"<% } %>><a href="<%=path %><%=menu.link %>"><%=menu.title %></a></li>
            <% }) %>
        </ul>
        <span class="btn_redbg"></span>
        </nav>
        <!-- menu结束 -->
        <span class="clear"></span>
        <!-- 清除浮动 -->
    </div>

</header>
<!-- header结束 -->
<% if (submenus != 'hide') { %>
<nav id="nav">
    <div class="center">

            <ul>
            <% if (submenus) { %>
            <% if (submenus.length > 0) { %>
            <% submenus.forEach(function(_submenu){ %>
              <li<% if (_submenu.name === pagename) { %> class="change"<% } %>><a href="<%=path %><%=_submenu.link %>"><%=_submenu.title %></a></li>
            <% }) %>
            <% } %>
             <% } %>
            </ul>
        <span class="btn_redbg"></span>
    </div>

</nav>
<% } %>