<!DOCTYPE html>
<html lang="zh-cn/">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=960, initial-scale=0.33">
    <title>武汉鑫嘉源工程有限公司</title>
    <meta name="keywords" content="联系方式,发光字,亮化工程,楼体亮化,武汉发光字,武汉亮化工程,武汉楼体亮化,大型发光字,楼顶发光字,标识标牌,立牌,LED发光字,彩虹字,房地产宣传大字,房地产围墙,广告围墙,外露式发光字" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description"  content="武汉鑫嘉源(027-84698920)是华中地区最专业的地产配套广告工程服务商，我们提供从设计、制作、安装到售后等各类专业技能的一站式服务，专业从事发光字、楼宇亮化、楼盘宣传彩虹字、标志标牌、楼盘围挡等各类地产配套广告工程的设计制作与安装。" />
    <script src="js/respond.src.js"></script>
    <link href="style/reset_css.css" rel="stylesheet" />
    <link href="style/all.css"  rel="stylesheet" />
    <script src="js/jquery.js"></script>
    <script src="js/load.js" defer></script>
    <!--[if IE]>
       <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>
    <% include header %>
    <!-- nav结束 -->
    <div id="ProudctList">
        <div><h2>专业设计、施工团队，十年行业经验<span style="font-size:19px;float:right;"><span style="color:#bc060e;">联系鑫嘉源</span>：<img style="width:280px;" src="images/tel.png"></span></h2></div>
        <ul class="PictureList">
            <% projects.forEach(function(project){ %>
              <li><a href="<%=project.link %>"><img src="<%=prefix %><%=project.img %>" alt="<%=project.imgalt %>" /> <strong><%=project.title %></strong> </a></li>
            <% }) %>
        </ul>
        <span class="clear"></span>

        <div class="pages">
            <em><%=paging.current+1 %>/<%=paging.total %>页</em>
            <a href="<%=pagename %>-0.html">首页</a>
            <% if (!paging.isFirst) { %>
                <a href="<%=pagename %>-<%=paging.pre %>.html">上一页</a>
            <% } %>
            <% if (!paging.isLast) { %>
                <a href="<%=pagename %>-<%=paging.next %>.html">下一页</a>
            <% } %>
            <a href="<%=pagename %>-<%=paging.last %>.html">尾页</a>
            跳转
             <select class="select" name="select">
                <% for (var i=paging.current;i<paging.total;i++) {%>
                <option value="<%=i %>"><%=i+1 %></option>
                <% } %>
            </select>
            页
        </div>
    </div>
    <!-- ProudctList结束 -->
    <footer id="copyright">
        <p>武汉鑫嘉源钢结构工程有限公司 版权所有 鄂ICP备15019803号</p> <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256813368'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256813368%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </footer>
    <!-- copyright结束 -->
</body>
</html>